* {
  outline: none;
}

body {
  background-image: url('https://user-images.githubusercontent.com/56237004/82156470-c2197a80-9840-11ea-973d-8395198db253.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

.App {
  width: 100%;
  position: relative;
}

#game-board-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#game-board {
  background: rgba(240, 255, 240, .4);
  border: honeydew solid 5px;
  border-radius: 10px;
  margin-top: 25px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  height: auto;
  width: 600px;
}

.logo {
  width: 150px;
  margin-top: 10px;
  margin-left: 80px;
}