* {
  outline: none;
}

body {
  background-image: url('https://user-images.githubusercontent.com/56237004/82156470-c2197a80-9840-11ea-973d-8395198db253.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

.App {
  width: 100%;
  position: relative;
}

#user-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  height: 50px;
  width: 100%;
}

.button-box {
  display: flex;
  flex-direction: row;
  align-items: center;

  background: linear-gradient(to right, #32cd32, #00fff0);
  
  height: 50px;
  width: 150px;

  margin-right: 10px;
  margin-top: 5px;
  border-radius: 30px;
}

.tgl-register {
  height: 50px;
  width: 75px;
  color: green;
  background-color: transparent;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: none;
  margin: 0px;
}
.tgl-register:hover {
  background:rgba(255, 255, 255, .4);
}
.tgl-register:active {
  background:rgba(255, 255, 255, .8);
}

.tgl-login {
  height: 50px;
  width: 75px;
  color: darkcyan;
  background-color: transparent;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  margin: 0px;
}
.tgl-login:hover {
  background:rgba(255, 255, 255, .4);
}
.tgl-login:active {
  background:rgba(255, 255, 255, .8);
}

#form-container {
  height: 141px;
  visibility: visible;
  overflow: hidden;
  position: absolute;
  top: 60px;
  right: 10px;
}
.form-box {
  display: flex;
  flex-direction: column;
  border: solid .5px whitesmoke;
  top: 60px;
  right: 10px;
  height: 140px;
  width: 280px;
}
#register-box.form-box {
  background: rgba(50, 205, 50, .5);
}
#login-box.form-box {
  background: rgba(0, 255, 255, .5);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: whitesmoke;
  opacity: .6; /* Firefox */
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  transition: .5s;
}
.input-field {
  width: 90%;
  border: none;
  color: whitesmoke;
  border-bottom: solid 1px whitesmoke;
  background: transparent;
  padding: 10px 0;
  margin-top: 10px;
}
.register-enter {
  align-self: flex-start;
  justify-self: flex-end;
  margin: 10px;
}
.login-enter {
  align-self: flex-start;
  justify-self: flex-end;
  margin: 10px;
}

#game-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-board {
  background: rgba(240, 255, 240, .4);
  border: honeydew solid 5px;
  border-radius: 10px;
  margin-top: 25px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  height: auto;
  width: 600px;
}

.logo {
  width: 150px;
  margin-top: 10px;
  margin-left: 80px;
}